<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% layout('layout/page') -%>
<% block('title', 'Aplikasi Mini Market') %>
  </body>
</html>
