<% layout('../layout/page') %>
<% block('title', 'Form Input Merk') %>
<hr>
<form action='/umum/merk/insert' method='post' role='form'>
   <div class='form-group'>
    <label for='exampleInputEmail'>Nama</label>
    <input type='text' name='nama' class='form-control' placeholder='Enter Nama Merk' required>
   </div>
   
   <button type='submit' class='btn btn-primary'>Submit</button>
</form>
